Node-RedIntegration/flow2.txt
[{"id":"4912011f.e8938","type":"http in","z":"ae9794c6.9179f8","name":"Histórico","url":"/historico","method":"get","upload":false,"swaggerDoc":"","x":89,"y":44,"wires":[["7f5c8c08.d0e76c"]]},{"id":"f766d7ba.bf8d8","type":"http response","z":"ae9794c6.9179f8","name":"","statusCode":"","headers":{},"x":634,"y":276,"wires":[]},{"id":"6bebfde5.aabf9c","type":"function","z":"ae9794c6.9179f8","name":"","func":"msg.payload = {\n    \"id\": 5,\n    \"peso\": 500,\n    \"historico\":[\n        {\n            \"id\":200,\n            \"peso\":500,\n            \"tipo\":\"boi\"\n        },\n        {\n             \"id\":234,\n            \"peso\":250,\n            \"tipo\":\"peça\"\n        }]\n};\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":351,"wires":[[]]},{"id":"1c82b28c.0de5bd","type":"debug","z":"ae9794c6.9179f8","name":"","active":true,"console":"false","complete":"false","x":740,"y":101,"wires":[]},{"id":"58760d83.4b63fc","type":"inject","z":"ae9794c6.9179f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":340,"wires":[["6bebfde5.aabf9c"]]},{"id":"7f5c8c08.d0e76c","type":"function","z":"ae9794c6.9179f8","name":"Get Histórico","func":"var id =  global.get(\"tagID\");\n\nmsg.payload =  {\n    \"$class\": \"com.bullchain.model.Peca\",\n    \"id\": id,\n}\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":115,"wires":[["b47a6d41.2efd4"]]},{"id":"b47a6d41.2efd4","type":"http request","z":"ae9794c6.9179f8","name":"","method":"GET","ret":"obj","url":"http://173.193.122.124:31090/api/Peca","tls":"","x":347,"y":208,"wires":[["ac86892e.e7fbc","1c82b28c.0de5bd"]]},{"id":"57ba7df4.132a44","type":"inject","z":"ae9794c6.9179f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118.5,"y":146,"wires":[[]]},{"id":"ac86892e.e7fbc","type":"function","z":"ae9794c6.9179f8","name":"","func":"var str = \"\";\nvar dado = msg.payload[msg.payload.length -1];\n\n\n\nstr += \"ID: #\"+dado.id + \"\\n\";\nstr += \"Peso: \"+ dado.pesoOriginal +\"kg\\n\\n\";\n\n\ndado.historia.forEach(function(item, index){\n\n    str += item+\"\\n\";\n});\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":253,"wires":[["f766d7ba.bf8d8","1c82b28c.0de5bd"]]}]