Node-RedIntegration/Flow1.txt
[{"id":"66ec7d76.f07094","type":"http in","z":"d67efe37.86cf4","name":"Peso","url":"/peso","method":"post","upload":false,"swaggerDoc":"","x":65,"y":27,"wires":[["8f213add.1ebb48","c9cd0fb3.db787"]]},{"id":"c981a7cf.9ea69","type":"function","z":"d67efe37.86cf4","name":"BOI","func":"var id =  Date.now();\nglobal.set(\"id\", id);\nmsg.peso = msg.payload.peso;\n\nmsg.payload = {\n\"$class\": \"com.bullchain.model.registrarBoi\",\n  \"boiId\":  id,\n  \"racaBoi\": \"ANGUS\",\n  \"fazenda\": \"1\",\n  \"timestamp\": id\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":198,"y":121,"wires":[["92ed4327.b0204"]]},{"id":"c9cd0fb3.db787","type":"debug","z":"d67efe37.86cf4","name":"","active":true,"console":"false","complete":"false","x":653.5,"y":88,"wires":[]},{"id":"8f213add.1ebb48","type":"switch","z":"d67efe37.86cf4","name":"","property":"payload.tipo","propertyType":"msg","rules":[{"t":"eq","v":"boi","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":91.5,"y":78,"wires":[["c981a7cf.9ea69"],["afda6f7e.5ea918"]]},{"id":"92ed4327.b0204","type":"http request","z":"d67efe37.86cf4","name":"","method":"POST","ret":"obj","url":"http://173.193.122.124:31090/api/registrarBoi","tls":"","x":280.5,"y":166,"wires":[["cf4b2066.2b44e8","c9cd0fb3.db787"]]},{"id":"cf4b2066.2b44e8","type":"function","z":"d67efe37.86cf4","name":"Transfere Boi","func":"var id =  global.get(\"id\");\nvar peso = msg.peso;\n\nmsg.payload =  {\n   \"$class\": \"com.bullchain.model.transfereBoi\",\n  \"fazenda\": \"1\",\n  \"frigorifico\": \"1\",\n  \"boi\": id,\n  \"valor\": 990,\n  \"timestamp\": Date.now()\n}\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":204,"wires":[["70c4be01.4b7f58"]]},{"id":"70c4be01.4b7f58","type":"http request","z":"d67efe37.86cf4","name":"","method":"POST","ret":"obj","url":"http://173.193.122.124:31090/api/transfereBoi","tls":"","x":436,"y":246,"wires":[["b0616c73.b6a898","c9cd0fb3.db787"]]},{"id":"afda6f7e.5ea918","type":"function","z":"d67efe37.86cf4","name":"Peça","func":"var id =  global.get(\"id\");\nmsg.peso = msg.payload.peso;\nvar tagID = Date.now();\nmsg.tagID = tagID;\nglobal.set(\"tagID\", tagID);\n\n\nmsg.payload = {\n  \"$class\": \"com.bullchain.model.CortarBoi\",\n  \"boi\": id,\n  \"frigorifico\": \"1\",\n  \"peca\": \"PICANHA\",\n  \"pesoCorte\": msg.peso,\n  \"tagId\": tagID,\n  \"timestamp\": tagID\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":125.5,"y":304,"wires":[["fa02a55d.cb2b28","c9cd0fb3.db787"]]},{"id":"fa02a55d.cb2b28","type":"http request","z":"d67efe37.86cf4","name":"","method":"POST","ret":"obj","url":"http://173.193.122.124:31090/api/CortarBoi","tls":"","x":224,"y":353,"wires":[["1a6bb6e2.c22129","c9cd0fb3.db787"]]},{"id":"1a6bb6e2.c22129","type":"function","z":"d67efe37.86cf4","name":"Recupera id","func":"msg.payload = msg.tagID;\nreturn msg;","outputs":1,"noerr":0,"x":334.5,"y":414,"wires":[["39add3e2.a6413c","c9cd0fb3.db787"]]},{"id":"7421d3f5.9965d4","type":"http response","z":"d67efe37.86cf4","name":"","statusCode":"","headers":{},"x":800.5,"y":406,"wires":[]},{"id":"b0616c73.b6a898","type":"function","z":"d67efe37.86cf4","name":"Peso Inicial","func":"var id =  global.get(\"id\");\nvar peso = msg.peso;\n\nmsg.payload =  {\n  \"$class\": \"com.bullchain.model.atualizarPesoBoi\",\n  \"boi\": id,\n  \"frigorifico\": \"1\",\n  \"peso\": peso,\n  \"timestamp\": Date.now()\n}\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":287,"wires":[["822b3200.86e81"]]},{"id":"822b3200.86e81","type":"http request","z":"d67efe37.86cf4","name":"","method":"POST","ret":"obj","url":"http://173.193.122.124:31090/api/atualizarPesoBoi","tls":"","x":609,"y":324,"wires":[["ae59e377.1cbe18","c9cd0fb3.db787"]]},{"id":"ae59e377.1cbe18","type":"function","z":"d67efe37.86cf4","name":"Recupera Peso","func":"var id =  global.get(\"id\");\n\nmsg.payload =  id;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":363,"wires":[["7421d3f5.9965d4"]]},{"id":"39add3e2.a6413c","type":"http response","z":"d67efe37.86cf4","name":"","statusCode":"","headers":{},"x":477,"y":467,"wires":[]}]